#cevtas-hero{
  position:relative;
  max-height:700px;
  width:100%;
  overlflow:hidden;
}

#cevtas-hero > img{
  max-height:700px;
}

#cevtas-hero > h1{

  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  margin:auto;
}

#cevtas-hero > h1 > button{
  margin-top:20px;
}

.cevtas-bla{
  padding-top:100px;
  height:400px;
}
