<cevtas-footer-section *ngFor='#section of sections'

  [title]='section.title'
  [items]='section.items'

></cevtas-footer-section>

<div class='column'>

  <cevtas-section

  [innerWidth]='"100%"'
  >

    <h5 class="ui header">
      Connect
    </h5>

    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>

    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>

    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>

    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>
  </cevtas-section>
</div>
