<div class="ui fixed small borderless menu grid">

  <div class='tablet only row'>

    <a class="item logo" [routerLink]="['Home']"><img class='ui image' src='images/logo.png'/></a>
    <a class="item" [routerLink]="['Services']">Scope of Services</a>
    <a class="item" [routerLink]="['About']">Who we are</a>
    <a class="item" [routerLink]="['Portfolio']">Portfolio</a>
    <a class="item" [routerLink]="['Contact']">Contact</a>

    <div class='right menu'>
      <a class="item primary cta">We will find a way</a>
    </div>
  </div>

  <div class='computer only row'>

    <a class="item logo" [routerLink]="['Home']"><img class='ui image' src='images/logo.png'/></a>
    <a class="item" [routerLink]="['Services']">Scope of Services</a>
    <a class="item" [routerLink]="['About']">Who we are</a>
    <a class="item" [routerLink]="['Portfolio']">Portfolio</a>
    <a class="item" [routerLink]="['Contact']">Contact</a>

    <div class='right menu'>
      <a class="item cta">We will find a way</a>
    </div>
  </div>

  <div class='mobile only row'>

    <a class="item logo" [routerLink]="['Home']"><img class='ui image' src='images/logo.png'/></a>
    <div class='right menu'>
      <a class="ui dropdown item">
        MENU
        <i class="bars icon"></i>
        <div class="menu">
          <a class="header item" [routerLink]="['Home']">Logo</a>
          <a class="item" [routerLink]="['Services']">Scope of Services</a>
          <a class="item" [routerLink]="['About']">Who we are</a>
          <a class="item" [routerLink]="['Portfolio']">Portfolio</a>
          <a class="item" [routerLink]="['Contact']">Contact</a>
        </div>
      </a>
    </div>
  </div>
</div>

<div class='ui doubling stackable grid'>
  <router-outlet></router-outlet>
</div>
