<div class='column'>
  <cevtas-hero
    [image]="'images/1.jpg'"
    [header]="'Change the Business, Keep the Environment'"
    [subHeader]="'Bla bla bla bla bla bla bla'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>

    <div class='ui one column doubling stackable grid container'>
      <div class='seven wide column'>
        <div class='ui large header'>
          Culture & Philosophy
          <div class='sub header'>
            Change the business, keep the environment
          </div>
        </div>

      <p>
        Our target is to...
      </p>

      <p>
        Develop sustainable environmental protection technologies in our
        country and especially on the international arena by integrating our
        novel technologies and know-how, while carrying on the prestige as a
        specialist company.
      </p>

      <p>
        Put the state-of-the-art innovative and integrated solutions to the
        service of our clients with an understanding of a long-term commitment
        and responsibility on every aspect of our business in both Environmental
        and Power Technologies sectors.
      </p>

      <p>
        Maintain the 30+ year old company culture as an expert and model company
        while adopting to the changing dynamics of both markets with an open-minded,
        innovation driven business understanding that aims to create win-win
        situations for not only the business parties involved but also for the
        general public and the  Environment that Çevtaş and her fellow business
        partners aim to protect as the responsible human organizations of the human kind.
      </p>

      <p>
        Engage in Corporate Governance based on transparency, accountability,
        responsibility and fairness  that leads to organizational success,
        presenting itself not as the result of a linear sum of individualistic
        efforts of the members of the company but an exponential organic product
        of a dynamic team which has constructed a collective intelligence by practising
        the art of listening to the utmost achievable degree.
      </p>

      <p>
        That is how we sustain our corporate integrity and a good night sleep.
      </p>

      <div class='ui small header'>
        Environmental Technologies
      </div>

      <div class='ui list'>
        <div class='item'>
          Treatment Plants: Urban and Industrial Waste Water, Drinking Water, Process Water
        </div>
        <div class='item'>
          Sea Outfall Plants
        </div>
        <div class='item'>
          Solid Waste Elimination Plants
        </div>
        <div class='item'>
          Compost Plants
        </div>
        <div class='item'>
          Renewable Energy
        </div>
      </div>

      <p>
        Large Scale Commercial Solar Farms and Biomass Power Plants, Residential and
        Industrial Solar rooftop applications from project development to construction of
        these power plants are included in our complete EPC services
      </p>

      <p>
        Sustainable Smart Homes and Communities Development
      </p>

      <div class='ui header'>
        Company Overview
      </div>
      <p>
        Urban and industrial development and modernization all over the world has presented
        themselves with environmental pollution and energy problems. These must be the main
        target of the research and development studies today for the sustainability of our
        existence. When it comes to develop environmental technologies, we apply the highest
        technology and pay special attention to energy balance and the economics of our projects.
        Since our establishment in 1985, our understanding and principles have made us a pioneer
        and reliable company in our sectors. Today, we continue our work in both national and
        international areas and sustain our  understanding of high standard, modern technology,
        service, accountability and quality. We provide services for municipalities, industrial
        organized zones and related industrial establishments along with residential and commercial
        structures on a turn-key basis. We are determined to continue on our activities in the
        fields of environmental technologies, alternative and renewable energy systems and
        sustainable community development.  We have been carrying on consultancy, business development,
        process design, manufacturing of innovative process equipment along with construction and
        operation of such projects on a turn-key basis.
      </p>

      <div class='ui header'>
        Certificates
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
