<div class='column'>
  <cevtas-hero
    [image]="'images/hero1.jpg'"
    [header]="'Consultancy & Business Development'"
    [subHeader]="'We offer sustainable business strategy and innovative thinking in both environmental and renewable energy sectors, helping clients, partners and government organizations to achieve technologically, economically and environmentally sound solutions.'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui one column doubling stackable grid container'>

    <div class='seven wide column'>

      <div class='ui large header'>
        Consultancy & Business Development
      </div>

      <p>
        Our Consultancy and Business Development department provides strategic
        consultancy focused on sustainable water and energy investments, helping
        our investors to understand and seize local and global opportunities,
        overcome regulative, technological, financial and strategic challenges
        within their prospective markets. Applying a bottom-up approach in market
        and competition analysis, strategy development, business planning and due
        diligence processes, our team support its qualitative findings with
        state-of-the-art techno-economic modeling and financial analysis tools
        to aid our investors in their decision making processes.
      </p>
      <p>
        Our team has assessed markets and technologies, along with individual
        project performance and market position in order to optimally diversify
        the investments of our clientele.
      </p>
      <p>
        Our work include simultaneous audits of solar, wind, biomass and geothermal
        energy investments along with assessments of upcoming issues, relevant
        policies and regulations and their impact on the wider markets and their
        impact on project level investments which fuels us with the required knowledge
        and decision making capabilities to advise our clients drawing on our detailed
        insights into technical, financial and environmental performance of future projects
        and maximize their returns.
      </p>
      <p>
        Çevtaş also provides  need-specific Consulting and Business Development projects,
        powered by a team of dedicated analysts and business developers who are well versed
        in their respective fields, crafting a business strategy and strategic partnerships
        for the creation of new ventures and the expansion of existing businesses in highly
        competitive markets. Our robust analytical methodologies combined with industry
        experience and highly effective network enables our clients to:
      </p>
      <ul class='ui list'>
        <li> Size and prioritize addressable markets </li>
        <li>Interpret the competitive landscape and the regulatory environment</li>
        <li>Anticipate and adopt disruptive technologies for competitive advantage</li>
        <li>Leverage technology development from outside parties for better market penetration</li>
        <li>Identify and target customer segments for efficient use of marketing resources</li>
        <li>Navigate the intellectual property minefield for a smooth operational management</li>
      </ul>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
