<div class='column'>
  <cevtas-hero
    [image]="'images/hero1.jpg'"
    [header]="'Construction and Commisioning'"
    [subHeader]="'Contributing to climate protection and sustainable development with innovative,high efficiency and smart solutions for commercial, industrial, urban andinfrastructure projects'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui one column doubling stackable padded grid container'>
    <div class='seven wide column'>
      <div class='ui large header'>
        Construction & Commisioning
      </div>
      <div class='ui basic segment'>
        <p>
        We operate in an interdisciplinary framework of environmental and renewable energy technologies,
        sustainability and investment. Mainly, we design, build and operate waste water treatment plants
        and other critical water infrastructure projects under the environmental technologies branch along
        with large-scale commercial and industrial solar and wind farms, biomass and geothermal power plants
        under the renewable energy branch. We offer comprehensive project management that includes deployment,
        installation, commissioning and handover, followed by fine-tuning, maintenance and support.
        </p>
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
