<div class='column'>
  <cevtas-hero
    [image]="'images/1.jpg'"
    [header]="'Change the Business, Keep the Environment'"
    [subHeader]="'Bla bla bla bla bla bla bla'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>

</div>

<div class='column'>
  <cevtas-testimonials

    [quote]='"Excellent"'
    [from]='"Mr. Burns"'
  >
  </cevtas-testimonials>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
