<div class='ui two column grid'>
  <div class='column'>
    <cevtas-section align='center'>
      <div class='ui medium header'> Partners </div>
      <div class="ui tiny images">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
      </div>
    </cevtas-section>
  </div>
  <div class='column'>
    <cevtas-section align='center'>
      <div class='ui medium header'> Clients </div>
      <div class="ui tiny images">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
        <img class="ui image" src="images/placeholder.png">
      </div>
    </cevtas-section>
  </div>
</div>
