<div class='column'>
  <cevtas-hero
    [image]="'images/1.jpg'"
    [header]="'Portfolio'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui stackable doubling padded grid'>
    <div class='two column centered row'>
      <div class='six wide right aligned column'>
        <div class='ui basic segment'>
          <img class='ui right floated large image' src='images/portfolio/amasya.jpg'>
          <h4 class='ui header'>
            Waste Water Treatment Plant in Amasya
          </h4>
          <p>
            Project  is financed by the loans procured from the European Investment Bank
            by the IPA Coordination Center of the Ministry of environment of Turkey.
            Provisional acceptance was performed. The plant is operational.
          </p>
        </div>
      </div>
      <div class='six wide left aligned column'>
        <div class='ui basic segment'>
          <img class='ui left floated large image' src='images/portfolio/foca.jpg'>
          <h4 class='ui header'>
            Waste Water Treatment Plant in Foca
          </h4>
          <p>

            Project was carried out as a turn-key undertaking
            with the delivery method of Design-Build-Operate.
            Project is commissioned for the Municipality of Foca in İzmir.
            Designed and progressed under the FIDIC norms.
            Financed through a Spanish soft loan, FAD.
            Provisional acceptance was performed. The plant is operational.
          </p>
        </div>
      </div>
    </div>
    <div class='two column centered row'>
      <div class='six wide right aligned column'>
        <div class='ui basic segment'>
          <img class='ui right floated large image' src='images/portfolio/usak.jpg'>
          <h4 class='ui header'>
            Waste Water Treatment Plant in Uşak
          </h4>
          <p>
            ÇEVTAŞ carried out this project on a turn-key basis as the main contractor.
            The quality of the process, construction and the electro-mechanical equipment
            fulfils the EU norms and standards.
            Provisional acceptance was performed. The plant is operational.
          </p>
        </div>
      </div>
      <div class='six wide left aligned column'>
        <div class='ui basic segment'>
          <img class='ui left floated large image' src='images/portfolio/kastamonu.jpg'>
          <h4 class='ui header'>
            Waste Water Treatment Plant in Kastamonu
          </h4>
          <p>
            ÇEVTAŞ carried out this project on a turn-key basis as tha main contractor.
            Project is financed by the Provincial Bank of Turkey.
            The quality of the process, construction and the electro-mechanical equipment
            fulfills the EU norms and standards.
            Provisional acceptance was performed. The plant is operational.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
