<div class='column'>
  <cevtas-hero
    [image]="'images/1.jpg'"
    [header]="'Change the Business, Keep the Environment'"
    [subHeader]="'Bla bla bla bla bla bla bla'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui grid'>
    <div class='two column row'>
      <div class='right aligned column'>
        <div class='ui button'>Scope I</div>
      </div>
      <div class='left aligned column'>
        <div class='ui button'>Scope II</div>
      </div>
    </div>
    <div class='two column row'>
      <div class='column'>
        <cevtas-section>

          <div class='ui mini header'>
            Waste Water Treatment Plant in Amasya.
          </div>
          <p>
            Project  is financed by the loans procured from the European Investment Bank
            by the IPA Coordination Center of the Ministry of environment of Turkey.
            Provisional acceptance was performed. The plant is operational.
          </p>
        </cevtas-section>
      </div>
      <div class='column'>
        <cevtas-section>
        </cevtas-section>
        <p>

        </p>
      </div>
    </div>
    <div class='two column row'>
      <div class='column'>
        <cevtas-section>
        </cevtas-section>
        <p>

        </p>
      </div>
      <div class='column'>
        <cevtas-section>
        </cevtas-section>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-testimonials

    [quote]='"Excellent"'
    [from]='"Mr. Burns"'
  >
  </cevtas-testimonials>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
