<div class='column'>
  <cevtas-hero
    [image]="'images/2e.jpg'"
    [header]="'Change the Business, Keep the Environment'"
    [subHeader]="'Bla bla bla bla bla bla bla'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui grid'>
    <div class='two column row'>
      <div class='column'>
        <cevtas-section>

          <div class='ui small header'>
            Construction and Commissioning
          </div>
          <p>
            Contributing to climate protection and sustainable development with innovative,
            high efficiency and smart solutions for commercial, industrial, urban and
            infrastructure projects
          </p>
          <div class='ui primary button' [routerLink]='["Construction"]'>EXPLORE</div>
        </cevtas-section>
      </div>
      <div class='column'>
      </div>
    </div>
    <div class='two column row'>
      <div class='column'>
      </div>
      <div class='column'>
        <cevtas-section>
          <div class='ui small header'>
            Consultancy and Business Development
          </div>
          <p>
            We offer sustainable business strategy and innovative thinking in both environmental
            and renewable energy sectors, helping clients, partners and government organizations
            to achieve technologically, economically and environmentally sound solutions.
          </p>
          <div class='ui primary button' [routerLink]='["Consultancy"]'>EXPLORE</div>
        </cevtas-section>
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-footer></cevtas-footer>
</div>
