<div class='column'>
  <cevtas-hero
    [image]="'images/1.jpg'"
    [header]="'Change the Business, Keep the Environment'"
    [subHeader]="'Bla bla bla bla bla bla bla'"
    [button]="'Explore'"
  ></cevtas-hero>
</div>

<div class='column'>
  <div class='ui one column grid'>
    <div class='column'>
      <h3 class='ui center aligned header'>Explore our services</h3>
    </div>
    <div class='two column row'>
      <div class='column'>
        <cevtas-section>
          <div class='ui small header'>
            Construction and Commissioning
            <div class='sub header'>
              For a sustainable future.
            </div>
          </div>
        </cevtas-section>
      </div>
      <div class='column'>
        <cevtas-section>
          <div class='ui small header'>
            Consultancy and Business Development
            <div class='sub header'>
              Design, Innovate to Differentiate & Sustain your business strategy.
            </div>
          </div>
        </cevtas-section>
      </div>
    </div>
  </div>
</div>

<div class='column'>
  <cevtas-testimonials

    [quote]='"Excellent"'
    [from]='"Mr. Burns"'
  >
  </cevtas-testimonials>
</div>

<div class='column'>
  <cevtas-cta></cevtas-cta>
</div>

<div class='column'>
  <cevtas-partners></cevtas-partners>
</div>
<div class='column'>
  <cevtas-contact></cevtas-contact>
</div>
